#idle-warning-modal.modal.hide.fade
  .modal-header
    %h3 会谈结束
  .modal-body
    %p
      由于您长时间没有操作，所有会谈已自动结束。
  .modal-footer
    %a#idle-warning-submit.btn.btn-primary{href: '/admin/consultings'} 确定
